body {
    font-family: "Raleway", sans-serif;
}

nav,
footer {
    background-color: #2b3165;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
.btn:hover {
    background-color: #2b3165;
    color: white;
}

/* Hero Section */

#Hero-Section {
    background-image: url("../img/logo_APR.png");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: left;
}

/* Mis trabajos */

#Proyectos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contacto */

#Contacto form label {
    font-weight: 700;
    color: #373a3c;
}

@media (max-width: 768px) {
    #Hero-Section {
        background-size: 600px;
    }

    #Contacto form label {
        font-weight: 400;
    }

    .navbar-brand {
        width: 100px;
    }
}

@media (max-width: 320px) {
    #Hero-Section {
        background-size: 300px;
    }
}
